*{
	margin:0 ;
	padding: 0;
    font-family: 'Zen Antique Soft', serif; 
}
.body{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(24, 44, 43, 0.651),rgba(30, 54, 63, 0.596)),url(image/hahaha.jpeg);
	background-position: center;
	background-size: cover ;
	position: relative ;
}
.center {
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
    
  }
.center-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    max-width: 12%;
    max-height: 12%;
    border: 10px double white;
    border-bottom: 10px dashed white;
    border-top: 10px dashed white;
  }
.info h1{
    text-align: center;
    color: white;
}
.info hr{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.para{
    background: rgba(206, 235, 245, 0.158);
    color: white;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box;
    text-align: center;
    border: 10px double whitesmoke;
}
.para h3{
    padding: 15px;
}
.para :hover{
    background: #00000093;
    transition: 1s;
}
.learn{
    text-align: center;
    margin-top: 70px;
}

.hover-1{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hover-1:hover{
    border: 1px solid #f44336;
    background: #f44335;
    transition: 1s;
}

/*----- footer-----*/


.footer{
    padding: 30px;
    text-align: center;
}
.fa {
    padding: 13px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 35px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 35px;
}
.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 35px;
}
.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 35px;
}
.fa-github {
    background: #000000;
    color: white;
    border-radius: 35px;
}

/*----- about page -----*/

.hover{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
}
.body nav{
    margin-top: 30px;
}
.hover:hover{
    border: 1px solid #f44336;
    background: #f44335;
    transition: 1s;
}
.aabout{
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 62px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-1{
    flex-basis: 45%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #fff;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    margin-top: 30px;
}
.layer:hover{
    background: rgba(255, 255, 255, 0.212);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 80%;
    opacity: 1;
}
.layer h4{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h4{
    bottom: 60%;
    opacity: 1;
}
.layer h5{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h5{
    bottom: 40%;
    opacity: 1;
}
.layer h6{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    padding-left: 50px;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h6{
    bottom: 20%;
    opacity: 1;
}
.about-1 h1{
    text-align: center;
    color: #fff;
  }
  .location{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.location iframe{
    width: 100%;
}
.con p{
    text-align: center;
    color: #fff;
}
.con h1{
    text-align: center;
    color: #fff;
}
.clickme{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.clickme a{
    color: #fff;
}
.con hr{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2px;
    margin-bottom: 2px;
}